body{
    background-color: aquamarine;
}
.page-content{
    display: flex;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
  color: #000000;
  border-radius: 1px;
  border-color: black;
  border-style: double;
background-color: aliceblue;
}

.texto-content{
    background-color: aliceblue;
    border-radius: 15px;
    border-color: black;
    border-style:solid;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.resaltado {
    color: red;
  }

.texto_resultado{
    margin-top: 10pt;
    color: #000000;
  border-color: rgb(255, 255, 255);
  border-style:dashed;
background-color: rgba(112, 195, 255, 0.74);
}